@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #544947;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #f6f6f6;
}

.container {
	max-width: 1470px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.overflowed {
	overflow: hidden;
}

.main {
	padding: 100px 0;
	justify-content: space-between;
	.container {
		display: flex;
		justify-content: space-between;
		.main__info {
			max-width: 50%;
			display: flex;
			flex-direction: column;
			grid-gap: 48px;

			.main__name {
				color: #544947;
				font-weight: 700;
				font-size: 32px;

				&::before {
					content: "";
					display: inline-block;
					width: 50px;
					position: relative;
					bottom: 8px;
					border-bottom: 4px solid #544947;
					margin-right: 12px;
				}
			}

			h1 {
				font-size: 70px;
				font-weight: 900;
				max-width: 717px;
				width: 100%;
			}

			.main__subtitle {
				font-size: 26px;
				color: #858585;
				font-weight: 300;
				line-height: 1.4;
			}

			button {
				padding: 15px;
				background-color: #544947;
				color: #fff;
				max-width: 220px;
				font-size: 24px;
				transition: background-color 0.3s ease-in-out;
				margin: auto 0 0 0;
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				-webkit-tap-highlight-color: transparent;

				&:hover {
					background-color: #7a6a67;
				}
			}
		}

		.main__photo {
			max-width: 640px;
			img {
				width: 100%;
				height: auto;
				display: block;
				box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.07);
			}
		}
	}

	@media (max-width: 1470px) {
		.container {
			.main__info {
				grid-gap: 3.3vw;

				h1 {
					max-width: 49vw;
					font-size: 4.9vw;
				}

				.main__subtitle {
					font-size: 1.75vw;
				}

				.main__name {
					font-size: 2.2vw;

					&::before {
						bottom: 0.6vw;
						width: 3.5vw;
						border-bottom: 0.3vw solid #544947;
					}
				}
			}
			.main__photo {
				width: 43.6vw;
				max-height: 43.6vw;
				height: 100%;
			}
		}
	}

	@media (max-width: 1200px) {
		padding: 60px 0;
	}

	@media (max-width: 992px) {
		padding: 40px 0;
		.container {
			.main__info {
				button {
					padding: 1.7vw;
					max-width: 23vw;
					width: 100%;
					font-size: 2.4vw;
				}
			}
		}
	}

	@media (max-width: 768px) {
		padding: 15px 0;
		grid-gap: 6vw;
		.container {
			flex-wrap: wrap-reverse;
			.main__info {
				width: 100%;
				max-width: 100%;
				grid-gap: 7.3vw;
				h1 {
					font-size: 9.5vw;
					max-width: 100%;
					text-align: center;
				}

				.main__subtitle {
					font-size: 3.5vw;
					text-align: center;
				}

				.main__name {
					font-size: 6vw;
					text-align: center;

					&::before {
						display: none;
					}
				}

				button {
					padding: 2.5vw;
					max-width: 47vw;
					width: 100%;
					font-size: 5vw;
					margin: 0 auto;
				}
			}
			.main__photo {
				width: 100%;
				max-width: 100%;
				margin-bottom: 7vw;
				max-height: 100%;
			}
		}
	}

	@media (max-width: 576px) {
		.container {
			.main__info {
				h1 {
					font-size: 9.5vw;
				}

				.main__subtitle {
					font-size: 4.5vw;
				}

				.main__name {
				}

				button {
					padding: 3vw;
					max-width: 50vw;
					width: 100%;
					font-size: 6vw;
					margin: 0 auto;
				}
			}
			.main__photo {
			}
		}
	}
}

.works {
	padding-bottom: 100px;
	.container {
		h2 {
			font-size: 70px;
			font-weight: 900;
			max-width: 100%;
			width: 100%;
			text-align: center;
			margin-bottom: 100px;
		}

		.works__wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 25px;
			.works__item {
				-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				-webkit-tap-highlight-color: transparent;
				position: relative;
				overflow: hidden;

				&:hover {
					.img-wrapper {
						img {
							height: 102%;
						}
					}
				}

				.img-wrapper {
					height: 695px;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						height: 100%;
						width: 100%;
						display: block;
						box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.03);
						position: relative;
						object-fit: cover;
						transition: all 0.3s ease-in-out;
					}

					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transition: opacity 0.25s ease;
						z-index: 1;
						background: linear-gradient(180deg, transparent, #000);
						opacity: 0.6;
					}
				}

				&:hover {
					.item__info {
						opacity: 0.6;
					}
				}

				.item__info {
					transition: opacity 0.3s ease-in-out;
					position: absolute;
					bottom: 40px;
					left: 50%;
					transform: translateX(-50%);
					color: #fff;
					z-index: 10;
					width: 100%;

					h3 {
						font-size: 48px;
						font-weight: 700;
						text-align: center;
					}

					.info__subtitle {
						font-size: 28px;
						font-weight: 700;
						display: inline-block;
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}

	@media (max-width: 1470px) {
		.container {
			h2 {
				font-size: 4.9vw;
			}

			.works__wrapper {
				.works__item {
					.img-wrapper {
						height: 47vw;
						img {
						}
					}
				}
			}
		}
	}

	@media (max-width: 1200px) {
		padding-bottom: 60px;
		.container {
			h2 {
				margin-bottom: 60px;
			}

			.works__wrapper {
				.works__item {
					.img-wrapper {
						img {
						}
					}

					.item__info {
						h3 {
							font-size: 4vw;
						}

						.info__subtitle {
							font-size: 2vw;
						}
					}
				}
			}
		}
	}

	@media (max-width: 992px) {
		padding-bottom: 40px;
		.container {
			h2 {
				margin-bottom: 40px;
			}
		}
	}

	@media (max-width: 768px) {
		padding-bottom: 15px;
		.container {
			h2 {
				margin-bottom: 40px;
				margin-top: 10vw;
				font-size: 9.5vw;
			}

			.works__wrapper {
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 15px;
				.works__item {
					.img-wrapper {
						height: 93vw;
						img {
						}
					}

					.item__info {
						bottom: 9vw;
						h3 {
							font-size: 8vw;
						}

						.info__subtitle {
							font-size: 4vw;
						}
					}
				}
			}
		}
	}
}

.my-popup {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.452);
	display: none;
	z-index: 1000;
	padding: 15px;

	.my-popup__inner {
		padding: 25px;
		max-width: 500px;
		max-height: 235px;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f6f6f6;
		margin: auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		h3 {
			font-size: 32px;
			font-weight: 700;
			margin-bottom: 30px;
		}

		.contacts {
			display: flex;
			flex-direction: column;
			align-items: center;
			grid-gap: 20px;
			font-weight: 500;
			font-size: 16px;
			color: #777777;

			.telegram {
				transition: color 0.3s ease-in-out;

				&:hover {
					color: #229ed9;
					cursor: pointer;
				}
			}

			.mail {
				transition: color 0.3s ease-in-out;

				&:hover {
					color: #bb001b;
					cursor: pointer;
				}
			}

			.num {
				transition: color 0.3s ease-in-out;

				&:hover {
					color: #25d366;
					cursor: pointer;
				}
			}
		}

		.close {
			position: absolute;
			top: 7px;
			right: 13px;
			font-size: 20px;
			font-weight: 900;
			color: #c2c2c2;
			transition: color 0.3s ease-in-out;

			&:hover {
				color: #7a6a67;
				cursor: pointer;
			}
		}
	}
}
